#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-self: start;
}

body {
  margin: 0;
  background-color: white;
  color: #1a1a1a;
}

table {
  margin-top: 100px;
}

.selector-container, .no-data {
  margin-top: 50px;
}

@media (max-width: 600px) {
  body {
    width: 100vw;
  }

  .table-wrapper {
    overflow-x: auto;
  }

  table {
    margin-top: 30px;
    width: 100%;
    border-collapse: collapse;
  }
}